@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

:root {
    --green-one: #668D3C;
    --green-two: #42493a;
    --green-three: #F6FBF0;
    --blue-hover: #00C6FF;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--green-three);
}

.lato {
    letter-spacing: 2px;
    font-family: 'Lato', Arial, sans-serif;
}

.large-image {
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 55px; 
    border-top: 3px solid var(--green-one);
    border-bottom: 3px solid var(--green-one);
}

.med-image-sizing {
    width: 100%;
    height: 300px;
}

.uppercase {
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: 1px 1px 10px black;
}

.white-background {
    background-color: var(--white);
}

.white-text {
    color: var(--white);
}

.green-two {
    color: var(--green-two);
}

.border-green-one {
    border: 3px solid var(--green-one);
}


/* Title and Nav bar */

#title {
    float: left;
    font-size: 320%;
    position: absolute;
    margin-left: 10px;
    margin-top: 40px;
}

nav {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}
  
nav a {    
    text-decoration: none;
    margin: 20px;
    font-size: 150%;
}

nav a:hover {
    color: var(--blue-hover);
}
  
.logo {
    padding-top: 5px;
    height: 150px;  
    left: 50%;
    top: 10px;
    margin: 0;
    z-index: 1;
}

/* Hero image */

#hero-shape {
    height: 800px;
}

#hero-image {
    width: 100%;
    height: 800px;
    background: url(../images/hero-image4.webp) no-repeat center center;
}

.hero-text-box {
    background-color: rgba(66, 73, 58, .8);
    padding: 10px;
    position: absolute; 
    letter-spacing: 1px;
    text-align: left;
    left: 15px;
}

#hero-text-box-one {
    font-size: 130%;
    width: 660px;
    height: 55px;
    top: 565px;
}

#hero-text-join {
    font-weight: bold;
    font-size: 200%;
    top: 650px;
    box-shadow: 4px 4px 10px black;
}

#hero-text-join:hover {
    box-shadow: inset -3px -3px 10px black;
}

#hero-text-box-two {    
    font-size: 170%;
    width: 590px;
    height: 40px;
    top: 720px;
}

/* Footer */

.footer {
    position: relative;
    height: 20px;
}

#footer-home {
    bottom: 20px;
}

#footer-about-finds {
    top: 30px;
    padding-bottom: 20px;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 200%;
    padding-left: 2%;
    padding-right: 2%;
}

.socials i:hover {
    color: var(--blue-hover);
}

/* About Page + Finds Page image and title */

#about-finds-image-shape {
    height: 300px;
}

#about-image {
    background: url(../images/about-image1.webp) no-repeat center center;
}

#finds-image {
    background: url(../images/findsimage1.webp) no-repeat center center;
}

#about-finds-title {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 30px;
}

#about-finds-title h2 {
    font-size: 200%;
}

#about-container {
    text-align: center;
}

#meetings {
    font-size: 0;
    position: relative;
    float: left;
    width: 600px;
    left: 15px;
    background-image: url(../images/meeting-image.jpg);
    background-size: cover;
    overflow: hidden;
}

.meeting-block {
    font-size: 16px;
    display: inline-block;
    width: 150px;
    height: 400px;
    background-color: rgba(255, 255, 255, .75);
    text-align: center; 
    border: 3px solid #F6FBF0;
    box-sizing: border-box;
    overflow: hidden;
}

.meet-group {
    padding: 20px 4px 0px 4px;
}

.meet-group-activity {
    padding: 0px 4px 0px 4px;
}

#info-box {    
    display: inline-block;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

#info-box p {
    font-size: 16px;
    text-align: center;
    padding: 8px;
    color: black;
}

#map {
    position: relative;
    float: right;
    right: 15px;
    width: 600px;
    height: 400px;
}

/* Finds Page */

#finds-container {
    text-align: center;
}

.find-box {
    width: 33%;
    position: relative;
    display: inline-block;
}

.find-image {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.find-text {
    text-align: left;
    position: relative;
    display: inline-block;
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.find-text p {
    padding: 5px;
}

#find-one {
    margin: 0 auto;
}

/* Join Us Page */

#join-text-box {
    width: 700px;
    height: 500px;
    left: 50%;
    top: 45%;
    margin: -250px 0 0 -360px;    
}

.input-field:hover {
    border-color: var(--blue-hover);
}

#radio-buttons {
    margin: 5px 0px 40px 0px;
}

#join-text-box p {
    margin-bottom: 10px;
}

#join-text-box h2 {
    text-align: center;
    font-size: 160%;
    margin: 20px 0 40px;
}

#text-inputs { 
    display: table;
}

.options {
    display: table-row;
}

.text-label {
    display: table-cell;
    width: 130px;
}

.input-field {
    display: table-cell;
    background: transparent;
    width: 560px;
    height: 25px;
    margin: 5px 0px 40px 0px;
    border: 1px solid var(--white);
    border-radius: 2px;
}

#join {
    position: absolute;
    width: 700px;
}

#join-button {
    padding: 10px 20px 10px 20px;
    font-size: 160%;
    text-align: center;
    background-color: var(--green-one);
    width: 700px;
}


#join-button:hover {
    background-color: var(--blue-hover);
}


#join-image {
    width: 100%;
    height: 800px;
    background: url(../images/join-image7.webp) no-repeat center center;
}

/* Media Queries */

@media screen and (max-width: 1900px) {

    /* About Page */

    #meetings {
        display: flex;
        justify-content: center;
        align-items: center;
        float: none;
        width: 100%;
        left: 0px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }   

    #info-box {
        margin: 0 0 10px 0;
        float: none;
        width: 100%;
        height: auto;
        left: 0px;
        box-sizing: border-box;
    }
    
    #map {
        left: 50%;
        margin-left: -300px;
        float: none;
    }

    /* Finds Page */

    .find-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .find-image {
        left: 0px;
    }

    .find-text {
        width: 50%;
        left: 10px;
    }

    #find-two, #find-three {
        left: 0px;
    }
}

@media screen and (max-width: 900px) {
    
    #title {
        display: none;
    }

    .find-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .find-text {
        width: 35%;
    }
}

@media screen and (max-width: 710px) {

    .hero-text-box {
        width: 100%;
    }

    #sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    #text-inputs {
        width: auto;
    }

    .text-label {
        width: 100px;
    }
    
    .input-field {
        width: 400px;        
    }

    #join {
        display: inline-block;
        top: 385px;
    }

    .hero-text-box {
        left: 0;
        padding: 0;
    }

    #hero-text-box-one { 
        width: 100%;
        height: auto;
        top: 450px;
        text-align: center;
    }

    #hero-text-join {
        width: 100%;
        text-align: center;
        top: 570px;
    }

    #hero-text-box-two {
        width: 100%;
        text-align: center;
        height: auto;
        top: 650px;
    }
}

@media screen and (max-width: 650px) {

    .find.box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #find-two {
        margin-bottom: 15px;
    }

    .find-image {
        display: block;
        position: relative;
    }

    .find-text {
        display: block;
        width: 300px;
        left: 5px;
    }
}

@media screen and (max-width: 600px) {
    
    #map {
        overflow: hidden;
        width: 100%;
        right: 0px;
        left: 0;
        margin-left: 0;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 540px) {
    
    nav {
        width: 100%;
    }

    nav a {
        font-size: 140%;
        margin: 5px;
    }

    .text-label {
        width: 100px;
    }
    
    .input-field {
        width: 200px;
    }

    .meeting-block h2, h3, h4 {
        font-size: 90%;
    }
}

@media screen and (max-width: 500px) {

    .find-box {
        width: 100%;
        display: block;
        position: relative;
    }

    .find-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        left: 0;
        box-sizing: border-box;
    }

    .find-image {
        display: flex;
        justify-content: center;        
        margin-bottom: 5px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 420px) {

    .logo {
        width: auto;
        height: 50px;
    }

    nav {
        padding-bottom: 40px;
    }

    #hero-text-box-one { 
        top: 390px;
    }

    #join-text-box h2 {
        font-size: 120%;
    }

    .input-field {
        width: 150px;
    }
}
